/* Unbounded Font for Headings */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500&display=swap');

/* Main Website Font Rubik*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --text-black: #202020;
  --text-grey: #4b4b4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.BOLD {
  font-family: 'Unbounded', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

.regular-text {
  font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.light-text {
  font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
}

/* NAVBAR */
nav.navbar {
  height: 10vh;
  max-height: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.nav-logo-area {
  color: var(--text-black);
  font-weight: 500;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 2px;
  text-rendering: geometricPrecision;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}

.nav-logo-area:hover {
  letter-spacing: 50px;
}

.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--text-grey);
  letter-spacing: 1px;
  height: 100%;
  margin: 0 10px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: #ffeef1;
}

.nav-active {
  color: #f23d5c;
  border-bottom: 2px solid #f23d5c;
}

.menu-icon {
  margin: 0 10px;
  font-size: 1.5rem;
  color: var(--text-black);
}

.mobile-menu {
  height: 100%;
  width: 200px;
  background-color: #202020;
  position: absolute;
  top: 0;
  left: -300px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
}

.mobile-menu .nav-link {
  height: 40px;
}

.mobile-menu .nav-link:hover {
  background-color: #4b4b4b;
}

.mobile-menu a {
  color: #ffeef1;
}




/* Media Queries */
@media screen and (min-width: 820px) {
  .hide-on-lg {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 819px) {
  .show-on-lg {
    display: none;
  }
}